@import "tailwindcss";

:root {
  --background: #f7f3ec;
  --foreground: #3f3428;

  --accent: #7d8a67;
  --accent-hover: #65704f;

  --muted: #6b5d4e;
  --border: #e5ded3;
  --card: #fffdf9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
